{% extends 'base.html.twig' %}

{% block title %} {{ app.user.fullName }} {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center my-5">Modifier le mot de passe de {{ app.user.fullName }}</h1>
            {{ form_start(monFormulaire) }}
                        {{ form_widget(monFormulaire) }}
                <button type="submit" class="btn btn-lg btn-primary d-grid gap-2 col-6 mx-auto">Enregistrer le nouveau mot de passe</button>

            {{ form_end(monFormulaire) }}
        </div>
    </div>
{% endblock %}