{% extends 'base.html.twig' %}

{% block title %} Edit {{ app.user.fullName }} {% endblock %}

{# {% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">Edition du compte de {{ app.user.fullName }}</h1>
            {{ include ("_partials/_form.html.twig", {submitButtonText: 'Enregistrer la modification'}) }}
        </div>
    </div>
{% endblock %}
Ou, pour une mise en page personnalisée qui ne sera pas celle simple de _form.html.twig, faire comme pour register.html.twig: #}
{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center">Edition du compte de {{ app.user.fullName }}</h1>
            {{ form_start(monFormulaire) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(monFormulaire.Nom) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(monFormulaire.Prenom) }}
                    </div>
                </div>
                {{ form_rest(monFormulaire) }}

                <button type="submit" class="btn btn-lg btn-primary d-grid gap-2 col-6 mx-auto">Enregistrer les modifications</button>

            {{ form_end(monFormulaire) }}
        </div>
    </div>
{% endblock %}