{% extends 'base.html.twig' %}

{% block title %} {{ pin.title }} {% endblock %}

{% block body %}

    <h1>Page d'affichage du pin sélectionné </h1>
    
    <article>
        <h2>{{ pin.title }}</h2>
        <p>{{ pin.description }}</p>
    </article>
    <a href="{{ path('app_pins_edit', {'id': pin.id}) }}">Modifier ce pin</a>
    <br>
    <a href="#" onclick="event.preventDefault(); confirm('êtes-vous sûr de vouloir supprimer ce pin?') && document.getElementById('js-pin-delete-form').submit();">Supprimer </a>
    <br>
    <a href="{{ path('app_pins') }}">Retour à la liste des pins</a>

    <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {'id': pin.id}) }}" method="post" style="display:none;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id) }}">
        <input type="hidden" name="_method" value="DELETE">
    </form>

{% endblock %}
