{% extends 'base.html.twig' %}

{% block title %} Edit {{ pin.title }} {% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1 class="text-center">Edition de {{ pin.title }}</h1>

    {{ form_start(monFormulaire) }}
        {{ form_widget(monFormulaire) }}
        <input type="submit" value="Enregistrer la modification">
    {{ form_end(monFormulaire) }}

</div>

{% endblock %}