<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pin_terest{% endblock %}</title>
        <!-- icone dans l'onglet -->
        <link rel="shortcut icon" href="{{asset('images/picto2.jpg')}}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- police google font dans assets/app.css sous forme @import> -->

        <!-- Feuilles de style -->
        {# <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}"> #}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- Fichiers JS -->
        <script src="{{asset('assets/js/bootstrap.bundle.min.js')}}" defer></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {# <script src="{{asset('assets/js/script.js')}}" defer></script> #}


    </head>
    <body>
        {# commentaire twig non visible sur le code source contrairement aux commentaires html #}
        <!-- commentaire html visible dans l'inspecteur -->
        {% include "_partials/_nav.html.twig" %}

        {% include "_partials/_flashes.html.twig" %}

        <main role="main" class="container">
        {% block body %}
        {% endblock %}
        </main>

        {% include "_partials/_footer.html.twig" %}


    </body>
</html>
